opencv-python 
numpy 
scikit-learn 
tqdm 
seaborn
fastapi
python-multipart 
uvicorn
matplotlib
Pillow
PyYAML
requests
scipy
torch
torchvision
protobuf
tensorboard
pandas
seaborn
ipython
psutil
thop 
supervision
ultralytics
typer
imutils